.burger-paradise {
	display: grid;
	grid-template-columns: 2fr 1fr 1.5fr;
	grid-gap: 10px;
	height: 94vh;
	max-width: 1500px;
	margin: 0 auto;
	margin-top: 2vh;
}
.burger-paradise > * {
	overflow-y: scroll;
	overflow-x: hidden;
	border: solid 1px #eee;
}
.burger-paradise > *:first-child {
	background: #ededed;
}
.burger-paradise > *:nth-child(2) {
	padding: 2rem 0;
	overflow-y: hidden;
	background: #f2f2f2;
	border-radius: 4px;
}
.burger-paradise > *:last-child {
	background: #ededed;
	padding: 2rem;
}
