.order-enter {
	transition: 0.5s;
	transform: translateX(-120%);
	max-height: 0;
	&-active {
		transform: translateX(0);
		max-height: 60px padding 2rem 0 !important;
	}
}

.order-exit {
	transition: 0.5s;
	transform: translateX(0);
	&-active {
		transform: translateX(120%);
		padding: 0;
	}
}

.count-enter {
	transition: 0.5s;
	transform: translateY(100%);
	&-active {
		transform: translateY(0);
	}
}

.count-exit {
	transition: 0.5s;
	transform: translateY(0);
	position: absolute;
	left: 0;
	bottom: 0;
	&-active {
		transform: translateY(-100%);
	}
}
